{% extends "layout.html" %}
{% block styles %}
<title>LISCA: Visual Control</title>
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        justify-content: center;
        height: 100vh;
        background-color: #ffffff;
    }

    .container {
        text-align: center;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    .controls {
        margin-top: 20px;
        max-width: 300px;
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 10px;
    }

    .control-group {
        margin-bottom: 15px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    label {
        display: block;
        margin-bottom: 5px;
    }

    input[type="range"] {
        width: 100%;
    }

    select {
        width: 100%;
        padding: 5px;
    }

    .button-group {
        display: flex;
        flex-direction: column;
        width: 90vw;
        max-width: inherit;
    }
    .button {
        flex-grow: 1;
        justify-content: center;
        text-align: center;
        /* width: auto; previous value: 10vw */
        background-color: rgb(227, 98, 98);
        margin: 3px;
        padding: 10px;
        /* width: 200px; */
        max-width: inherit;
    }

    .range-label {
        font-weight: bold;
        margin-bottom: 5px;
        display: block;
    }

    .stepper-pair {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .stepper {
        display: flex;
        align-items: center;
        width: 48%;
    }

    .stepper label {
        margin-right: 10px;
        white-space: nowrap;
    }

    .stepper input[type="number"] {
        width: 60px;
        padding: 5px;
    }

    .channel-selection {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
    }

    .channel-dropdown {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5px;
    }

    .channel-dropdown label {
        margin-right: 10px;
        white-space: nowrap;
    }

    .channel-dropdown select {
        width: 120px;
        padding: 5px;
    }

</style>
{% endblock %}

{% block body %}

<body>
    <div class="container">
        <h1>LISCA: Visual Control</h1>
        <img id="channel_image" src="data:image/jpeg;base64,{{ channel_image }}">
        <div class="controls">
            <!-- Sliders -->
            <div class="control-group">
                <label for="position_slider">Position: </label>
                <input type="range" id="position_slider" name="position_slider" min="0" max="{{ n_positions - 1 }}" value="0">
                <span id="position_value">0/ {{ n_positions - 1 }}</span>
            </div>
            <div class="control-group">
                <label for="channel_slider">Channel:</label>
                <input type="range" id="channel_slider" name="channel_slider" min="0" max="{{n_channels}}" value="0">
                <span id="channel_value">0/ {{ n_channels }}</span>
            </div>
            <div class="control-group">
                <label for="timeframe_slider">Frame:</label>
                <input type="range" id="timeframe_slider" name="timeframe_slider" min="0" max="{{n_frames}}" value="0">
                <span id="timeframe_value">0/ {{ n_frames }}</span>
            </div>
            <div class="control-group">
                <label for="particle_slider">Particle: </label>
                <input type="range" id="particle_slider" name="particle_slider" min="0" max="{{ all_particles_len - 1 }}" value="{{ current_particle_index }}">
                <span id="particle_value">{{ current_particle_index }}/ {{ all_particles_len - 1 }}</span>
            </div>
            <!-- Channel selection -->
            <div class="control-group">
                <label class="range-label">Channel selection</label>
                <div class="channel-selection">
                    {% for i in range(n_channels + 1) %}
                    <div class="channel-dropdown">
                        <label for="channel_{{ i }}">{{ i }} Channel:</label>
                        <select id="channel_{{ i }}" name="channel_{{ i }}">
                            <option value="Brightfield">Brightfield</option>
                            <option value="Fluorescent">Fluorescent</option>
                            <option value="Not Used">Not Used</option>
                        </select>
                    </div>
                    {% endfor %}
                </div>
            </div>div>
            <!-- Selects -->
            <div class="control-group">
                <label class="range-label">Position range</label>
                <div class="stepper-pair">
                    <div class="stepper">
                        <label for="position_min">Min:</label>
                        <input type="number" id="position_min" name="position_min" min="0" max="{{ n_positions - 1 }}" value="0">
                    </div>
                    <div class="stepper">
                        <label for="position_max">Max:</label>
                        <input type="number" id="position_max" name="position_max" min="0" max="{{ n_positions - 1 }}" value="{{ n_positions - 1 }}">
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="range-label">Frame range</label>
                <div class="stepper-pair">
                    <div class="stepper">
                        <label for="frame_min">Min:</label>
                        <input type="number" id="frame_min" name="frame_min" min="0" max="{{ n_frames }}" value="0">
                    </div>
                    <div class="stepper">
                        <label for="frame_max">Max:</label>
                        <input type="number" id="frame_max" name="frame_max" min="0" max="{{ n_frames }}" value="{{ n_frames }}">
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label for="expand_labels">Expand Labels:</label>
                <input type="checkbox" id="expand_labels" name="expand_labels" checked>
            </div>
            <div class="control-group">
                <label for="square_size">Square Size (μm):</label>
                <input type="number" id="square_size" name="square_size" min="1" value="30">
            </div>
            <div class="button-group">
                    <button class="button" id="do_segmentation">Do Segmentation</button>
                    <button class="button" id="do_tracking">Do Tracking</button>
                    <button class="button" id="do_square_rois">Do Square ROIs for Position(s)</button>
                    <button class="button">Output Directory</button>
            </div>

        </div>
    </div>
</body>
<script src="{{ url_for('static', filename='ui.js') }}"></script>
<script src="{{ url_for('static', filename='api.js') }}"></script>
<script src="{{ url_for('static', filename='keyboard_shortcuts.js') }}"></script>

<script>
document.getElementById('do_segmentation').addEventListener('click', function() {
    const data = {
        position_min: parseInt(document.getElementById('position_min').value),
        position_max: parseInt(document.getElementById('position_max').value),
        frame_min: parseInt(document.getElementById('frame_min').value),
        frame_max: parseInt(document.getElementById('frame_max').value),
    };

    for (let i = 0; i <= {{ n_channels }}; i++) {
        data[`channel_${i}`] = document.getElementById(`channel_${i}`).value;
    }

    fetch('/do_segmentation', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify(data),
    }).then(response => response.json())
    .then(data => {
        if (data.status === 'success') {
            alert('Segmentation completed successfully!');
        } else {
            alert('Segmentation failed. Please check the console for more information.');
        }
    });
});

document.getElementById('do_tracking').addEventListener('click', function() {
    const data = {
        position_min: parseInt(document.getElementById('position_min').value),
        position_max: parseInt(document.getElementById('position_max').value),
        expand_labels: document.getElementById('expand_labels').checked,
    };

    fetch('/do_tracking', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify(data),
    }).then(response => response.json())
    .then(data => {
        if (data.status === 'success') {
            alert('Tracking completed successfully!');
        } else {
            alert('Tracking failed. Please check the console for more information.');
        }
    });
});

document.getElementById('do_square_rois').addEventListener('click', function() {
    const data = {
        position_min: parseInt(document.getElementById('position_min').value),
        position_max: parseInt(document.getElementById('position_max').value),
        square_size: parseInt(document.getElementById('square_size').value),
    };

    fetch('/do_square_rois', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify(data),
    }).then(response => response.json())
    .then(data => {
        if (data.status === 'success') {
            alert('Square ROIs processing completed successfully!');
        } else {
            alert('Square ROIs processing failed. Please check the console for more information.');
        }
    });
});
</script>

{% endblock %}

</html>
