{% extends "layout.html" %}
{% block styles %}
<title>Cell Viewer</title>
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        justify-content: center;
        height: 100vh;
        background-color: #ffffff;
    }

    .container {
        text-align: center;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    .controls {
        margin-top: 20px;
        width: auto;    /* previous width: 10vw; */
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .control-group {
        margin-bottom: 15px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    label {
        display: block;
        margin-bottom: 5px;
    }

    input[type="range"] {
        width: 100%;
    }

    select {
        width: 100%;
        padding: 5px;
    }

    .button-group {
        display: flex;
        flex-direction: column;
        width: 90vw;
    }
    .button {
        flex-grow: 1;
        justify-content: center;
        text-align: center;
        /* width: auto; previous value: 10vw */
        background-color: rgb(227, 98, 98);
        margin: 3px;
        padding: 10px;
        /* width: 200px; */
    }

</style>
{% endblock %}

{% block body %}

<body>
    <div class="container">
        <h1>Cell Viewer</h1>
        <img id="channel_image" src="data:image/jpeg;base64,{{ channel_image }}">
        <div class="controls">
            <!-- Sliders -->
            <div class="control-group">
                <label for="position_slider">Position: </label>
                <input type="range" id="position_slider" name="position_slider" min="0" max="{{ n_positions - 1 }}" value="0">
                <span id="position_value">0</span>
            </div>
            <div class="control-group">
                <label for="channel_slider">Channel:</label>
                <input type="range" id="channel_slider" name="channel_slider" min="0" max="{{n_channels}}" value="0">
                <span id="channel_value">0</span>
            </div>
            <div class="control-group">
                <label for="timeframe_slider">Frame:</label>
                <input type="range" id="timeframe_slider" name="timeframe_slider" min="0" max="{{n_frames}}" value="0">
                <span id="timeframe_value">0</span>
            </div>
            <!-- Dropdown Menus -->
            <div class="control-group">
                <label for="dropdown1">Dropdown 1</label>
                <select id="dropdown1" name="dropdown1">
                    <option value="option1">Option 1</option>
                    <option value="option2">Option 2</option>
                    <option value="option3">Option 3</option>
                </select>
            </div>
            <div class="control-group">
                <label for="dropdown2">Dropdown 2</label>
                <select id="dropdown2" name="dropdown2">
                    <option value="option1">Option 1</option>
                    <option value="option2">Option 2</option>
                    <option value="option3">Option 3</option>
                </select>
            </div>
            <!-- Button -->
            <button onclick="alert('Button clicked!')">Click Me</button>
            <div class="button-group">
                <div>
                    <button class="button">Do Segmentation</button>
                </div>
                <div>
                    <button class="button" >Do Tracking</button>
                </div>
                <div>
                    <button class="button">Do Segmentation for Position(s)</button>
                </div>
                <div>
                    <button class="button">Output Directory</button>
                </div>
            </div>

        </div>
    </div>
</body>
<script src="{{ url_for('static', filename='ui.js') }}"></script>
<script src="{{ url_for('static', filename='api.js') }}"></script>

{% endblock %}

</html>